<!-- your html code here -->
<div class="row mx-auto border border-black d-flex justify-content-center bg-white" style="width: 70%;">
    <div class="col-8 first-heading d-flex flex-column p-3">
        <div class="d-flex">
        <h4>This First Heading</h4><h4>Will Catch Your Eye</h4>
        </div>
        <p class="">
           Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
           euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
           consectetur. Fusce dapibus, tellus ac cursus commodo. 
        </p>
    </div>
    <div class="col-4">
        <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle" alt="...">
    </div>
</div>