<div class="row bg-white">
    <div class="col-4 p-4 d-flex justify-content-end">
        <img src="/website/assets/img/2.jpg" alt="" class="rounded-circle">
    </div>
    <div class="col-8 p-4">
        <h2>The Second Heading is pretty cool too.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Minus excepturi error accusamus neque, enim eaque quam quis optio inventore doloremque corporis,<br>repellat fuga laudantium iure, mollitia fugit facilis dolor! Dolorum.</p>
    </div>
</div>